div {
    height: 90%;
    width: 90%;   
}

img {
    padding: 22% 0 0;
    width: 25%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
}

#search-form {
    padding-left: 4%;
    padding-top: 1.5%;
}

#search-bar {
    display: block;
    width: 50%;
    height: 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.20);
}

#button {
    padding: 2.5em 0 0 20em;
}

input[type="button"], span {
    color: #757575;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 11px;
    padding-top: 11px;
    font-size: 13px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

#lga {
    height: 18em;
    width: 100%;
}
span {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem;
}